<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>85128585453-71ct2sn79fprhqrtmic0k649kv0hr533.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.85128585453-71ct2sn79fprhqrtmic0k649kv0hr533</string>
	<key>API_KEY</key>
	<string>AIzaSyDa4bw5KjkD-d_i_zO0I9IvYpvg0jmQliU</string>
	<key>GCM_SENDER_ID</key>
	<string>85128585453</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yonegen.SecretSNS</string>
	<key>PROJECT_ID</key>
	<string>secretsns-571d8</string>
	<key>STORAGE_BUCKET</key>
	<string>secretsns-571d8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:85128585453:ios:23a997c7f859576be26ce4</string>
</dict>
</plist>